<div class="container">
  <ak-navbar creation-date="main.creationDate"
             class="ng-isolate-scope"></ak-navbar>
             <h2>Pull Requests</h2>

  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Filter" ng-model="filterString">
      </div>      
    </div>
  </form>

  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>
          <a href="#" ng-click="sortType = 'repo.name'; sortReverse = !sortReverse">
            Repo
            <span ng-show="sortType == 'repo.name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'repo.name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="sortType = 'number'; sortReverse = !sortReverse">
            #
            <span ng-show="sortType == 'number' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'number' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="sortType = 'title'; sortReverse = !sortReverse">
            Title
            <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="sortType = 'user.login'; sortReverse = !sortReverse">
            User
            <span ng-show="sortType == 'user.login' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'user.login' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </th>
      </tr>
      <tr ng-repeat="pr in main.pullRequests | orderBy:sortType:sortReverse | filter:filterString">
        <td><a href="{{pr.repo.url }}">{{ pr.repo.name }}</a></td>
        <td><a href="{{pr.html_url}}">#{{ pr.number }}</a></td>
        <td>
            <div>{{ pr.title }}</div>
            <div style="display: inline-block;" ng-repeat="label in pr.labels">
                <span class="label" style="background-color: #{{ label.color }}; color: #{{ main.getFontColor(label.color) }};"><i class="fa fa-tag"></i> {{ label.name }}</span>
            </div>
        </td>
        <td><img ng-src="{{ pr.user.avatar_url }}" style="width: 2em;"/> <a
          href="{{ pr.user.html_url }}">{{ pr.user.login }}</a></td>
      </tr>
    </table>
  </div>
  <div ng-repeat="pr in main.pullRequests">
    <pre>{{ pr | json }}</pre>
  </div>
</div>
