<div class="container">
  <ak-navbar creation-date="main.creationDate"
             class="ng-isolate-scope"></ak-navbar>
             <h2>Pull Requests ({{filteredPullRequests.length}})</h2>

  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Filter" ng-model="main.filterString">
        <a class="glyphicon glyphicon-remove-sign form-control-feedback form-control-clear"
           style="pointer-events: auto; text-decoration: none;cursor: pointer;"
           ng-show="main.filterString"
           ng-click="main.filter('');"
        ></a>

      </div>      
    </div>
  </form>

  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>
          <a href="#" ng-click="sortType = 'repo.name'; sortReverse = !sortReverse">
            Repo
            <span ng-show="sortType == 'repo.name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'repo.name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="sortType = 'number'; sortReverse = !sortReverse">
            #
            <span ng-show="sortType == 'number' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'number' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="sortType = 'title'; sortReverse = !sortReverse">
            Title
            <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="sortType = 'user.login'; sortReverse = !sortReverse">
            User
            <span ng-show="sortType == 'user.login' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'user.login' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </th>
      </tr>
      <tr ng-repeat="pr in filteredPullRequests = (main.pullRequests | orderBy:sortType:sortReverse | filter:main.filterString)">
        <td><a href="{{pr.repo.url }}">{{ pr.repo.name }}</a></td>
        <td><a href="{{pr.html_url}}">#{{ pr.number }}</a></td>
        <td>
            <div>{{ pr.title }}</div>
            <div style="display: inline-block;" ng-repeat="label in pr.labels">
                <a ng-click="main.filter(label.name);" style="text-decoration: none;">
                    <span class="label" style="background-color: #{{ label.color }}; color: #{{ main.getFontColor(label.color) }};"><i class="fa fa-tag"></i> {{ label.name }}</span>
                </a>
            </div>
        </td>
        <td><img ng-src="{{ pr.user.avatar_url }}" style="width: 2em;"/> <a
          href="{{ pr.user.html_url }}">{{ pr.user.login }}</a></td>
      </tr>
    </table>
  </div>
  <!--
  <div ng-repeat="pr in main.pullRequests">
    <pre>{{ pr | json }}</pre>
  </div>
  -->
</div>
